config setup			# общая информацию о конфигурации для IPSec, которая применяется ко всем соединениям
        charondebug="all"	# сколько выходных данных отладки Charon должно быть зарегистрировано
        uniqueids=yes		# флаг уникальности идентификатора
        strictcrlpolicy=no		#

conn site-to-site-vpn		# имя соединения
        type=tunnel		# тип соединения
        authby=secret		# аутентификация одноранговых узлов между собой
        left={{ ip.left }}	# IP-адрес интерфейса публичной сети левого участника
        leftsubnet={{ ip.left_subnet }}	# частная подсеть позади левого участника
        right={{ ip.right }}	# IP-адрес общедоступного сетевого интерфейса правого участника
        rightsubnet={{ ip.right_subnet }}	# частная подсеть позади правого участника
        ike=aes256-sha2_256-modp1024!	# список используемых алгоритмов шифрования/аутентификации IKE/ISAKMP SA.
        esp=aes256-sha2_256!	# определяет список алгоритмов шифрования/аутентификации ESP, которые будут использоваться для соединения
        keyingtries=0		# количество попыток согласования соединения
        ikelifetime=1h		# период времени, спустя который произойдет повторное согласование соединения 
        lifetime=8h		# период времени соединения до истечения срока действия
        dpddelay=30		# указывает временной интервал, с которым R_U_THERE/INFORMATIONAL сообщения отправляются одноранговому узлу
        dpdtimeout=120		# интервал времени ожидания, после которого все соединения с одноранговым узлом удаляются в случае неактивности
        dpdaction=restart	# определяет, как использовать протокол Dead Peer Detection (DPD) для управления соединением
        auto=start		# указывает как обрабатывать соединение при запуске или перезапуске IPSec